
<div class="container center-align">
    <div class="row valign-wrapper">
      <div class="col s12 offset-s0 valign">
        <div class="card z-depth-4">
          <div class="card-content white-text">
            <span class="card-title"></span>
            <div class="input-field">
              <input placeholder="Email" id="emaillog" type=“email” class=“validate”>
              <label id="eLogLab" for=“email”></label>
              <br>
              <input placeholder="Password" id=“passwordLog” type=“password” class=“validate”>
              <label for=“password”></label>
            </div>
          </div>
          <div class="card-action">
            <button class="z-depth-2" id="btnLog">Login</button> <br>
            <button data-target="modal1" class="btn modal-trigger z-depth-2" id="newAcc">Create New Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Sign up page -->
  <!-- Modal Trigger -->

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="input-field center-align">
        <input placeholder="Email" id="emailSignUp" type="email" class="validate">
        <label for="email"></label>
        <input placeholder="User Name" id="user_name" type="text" class="validate">
        <label for="user_name"></label>
        <input placeholder="Password" id="passwordSignUp" type="password" class="validate">
        <label for="password"></label>
      </div>  
      <div id="Options">
        <label>
          <input name="group1" type="radio" checked />
          <span>Admin</span>
        </label>
        <label>
          <input name="group1" type="radio" checked />
          <span>Standard</span>
        </label>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="btnSignUp">Sign Up</a>
      </div>
    </div>
  </div>