<<<<<<< HEAD
  <div class="col s12 m4 l3 chore-list">
    <h3>Chore List:</h3>
  <div class="row">
    <div class="col s12 m5 list">
          {{#each choresData as |chore|}}
        {{!-- <div class="divider"></div> --}}
            <div class="section list-item" draggable="true">
                <h5>{{chore.chore_name}} points: {{chore.value}}</h5>
                <p>{{chore.description}}</p>
            </div>         
    {{/each}}
    </div>
  </div>
  </div>

<div class="col s12 m4 l3 chore-list list"><h2>User 1</h2></div>
<div class="col s12 m4 l3 chore-list list"><h2>User 2</h2></div>
<div class="col s12 m4 l3 chore-list list"><h2>User 3</h2></div>
<script src="/js/chores.js"></script>

