<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{users}}!</h2>
    <ul>
        <li class="#">{{choresData}}</li>
        <li class="#">{{users}}</li>
        <li class="#"></li>
        <li class="#"></li>
    </ul>
    {{> login}}
  </div>
</div>

{{!-- {{#if !login}}
{{< login}}
{{/if}}
{{#if login}}
{{< chores}}
{{/if}} --}}