<div class="row">
  <div class="col-auto">

    <h2>Welcome, {{usersYo.username}}!</h2>
    <ul>
        <li class="#">{{choresData.chore_name}}</li>
        <li class="#">{{users}}</li>
        <li class="#"></li>
        <li class="#"></li>
    </ul>

    {{> login}}
  </div>
</div>
<div>
    {{> chores}}
</div>

