.container {

    margin-top: 10rem;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container .row {
    margin: 0 auto;
}

.modal {
    width: 75% !important;
    height: 75% !important;
}

.card {
    background-color: #0F9FBF;

}

h1 {
    color: white;
    font-family: 'Playball', cursive;
    font-size: 6rem;
}

body {
    background-color: #0F9FBF;
}

#btnLog {
    border:none;
    border-radius: 10px 10px 10px 10px;
    background-color: #F2B705;
    height: 4rem;
    width: 25rem;
    margin: 10px;
}

#newAcc {
    border-radius: 10px 10px 10px 10px;
    border:none;
    background-color: #F29F05;
    color: black;
    height: 4rem;
    width: 25rem;
    margin-bottom: 1rem;
}

#btnSignUp {
    background-color: lightseagreen;
    margin-right: 15rem;
}

.input-field .log {
    font-size: 36px;
    margin-top: 2rem;
    
}

.card-content .login {
    border-bottom: 2px dotted #1B62BF;
}



#emailSignUp {
    
    border: 2px solid lightseagreen;
    border-radius: 10px 10px 10px 10px;
    width: 30rem;
    
}

#user_name {
    border: 2px solid lightseagreen;
    border-radius: 10px 10px 10px 10px;
    width: 30rem;
}

#passwordSignUp {
    border: 2px solid lightseagreen;
    border-radius: 10px 10px 10px 10px;
    width: 30rem;
}

#Options {
    margin-left: 15rem;
}

/* CSS styling for the users generated */
#user-list{
    display: flex;
}
.user-list{
    text-align: center;
    font-size: 60px;
    margin-right: 3rem;
}