.container {
    margin-top: 15vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container .row {
    margin: 0 auto;
}

.modal {
    width: 75% !important;
    height: 75% !important;
}

#btnLog {
    height: 6vh;
    width: 30vw;
    margin: 10px;
}

#newAcc {
    height: 6vh;
    width: 30vw;
}

.validate .emailLogin {
    min-width: 300px;
    min-height: 30px;
}